#container {
  .contact-content {
    .contact-info {
      .main-title {
        text-align: left;
        margin-bottom: 0;
      }
      .main-subtitle {
        text-align: left;
      }
      p {
        color: #8b8b8b;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        margin: 0 0 20px;
        span {
          color: #f95800;
        }
      }
      .post-meta {
        color: #4b4d4f;
        font-size: 14px;
        border-top: 1px solid #eaeaea;
        margin-top: 20px;
        padding-top: 20px;
        i {
          margin-right: 5px;
        }
        .post-home {
          display: inline;
        }

        .post-phone {
          display: inline;
          margin-left: 20px;
        }

        .post-mail {
          display: inline;
          margin-left: 20px;
          a {
            color: #4b4d4f;
          }
        }
      }
    }
    .contact-box {
      position: relative;
      z-index: 3;
      background: #fff;
      overflow: hidden;
      #contact-form {
        .contact-input {
          position: relative;
          padding-left: 58px;
          span {
            position: absolute;
            width: 58px;
            height: 59px;
            border: 1px solid #eaeaea;
            top: 0px;
            left: 0px;
            z-index: 2;
            text-align: center;
            i {
              line-height: 32px;
              font-size: 12px;
              color: #585858;
              display: inline-block;
              width: 32px;
              height: 32px;
              text-align: center;
              border-radius: 50%;
              border: 1px solid #585858;
              margin-top: 13px;
              transition: all 0.2s ease-in-out;
            }
          }
        }
        input[type="text"],
        textarea {
          color: #848484;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          border: 1px solid #eaeaea;
          border-left: none;
          font-weight: 300;
          border-radius: 0px;
          outline: none;
          width: 100%;
          padding: 20px 0;
          text-indent: 20px;
          display: block;
          margin-bottom: 10px;
          transition: all 0.2s ease-in-out;
          &:focus + span i {
            color: #fff;
            background: #4eccb9;
            border: 1px solid #4eccb9;
          }
        }
        textarea {
          height: 135px;
        }
        input[type="submit"] {
          width: 100%;
          text-align: center;
          color: #fff;
          font-size: 19px;
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          padding: 15px;
          background: #4eccb9;
          text-transform: uppercase;
          border: none;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          font-size: 13px;
          margin-top: 5px;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
